/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
$font-comfortaa: 'Comfortaa', cursive;

/* Colors */
$main-color: #11d9e0;
$main-text-gray-color: #484848;
$light-gray-color: #a9a9a9;
$main-black-color: #20232a;
$main-white-color: #ededed;
$title-color: #4897d8;

/* Category colors */

$flat-color: #34765c;
$house-color: #324851;
$condo-color: #7da3a1;
$suite-color: #1e656d;
$hut-color: #de7a22;
$unique-color: #f52549;
